
footer {
  background: #F15A29;
  position: relative;

}

.club-form {
  
  max-width: 319px;
  padding-top: 100px;
  padding-bottom: 39px;
  margin-left: 211px;

}

.club-form__title {
  font-family: DINPro;
  font-size: 52px;
  line-height: 65px;
  letter-spacing: 8.4px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.club-form__subtitle {
  margin-top: 28px;
  font-family: DINPro;
  font-size: 22px;
  line-height: 35px;
  letter-spacing: 3.675px;
  color: #FFFFFF;

}

form {
  margin-top: 35px;
}

input {
  display: block;
  max-width: 318px;
  padding: 25px 172px 18px 19px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 3px;
 
  
}

input:not(:first-child) {
  margin-top: 9px;
}

input::placeholder {
  color: #FFFFFF;
  opacity: 0.6;
  font-family: DINPro;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 4.38px;
  text-transform: uppercase;
  mix-blend-mode: normal;
}

.join-form {
  width: 100%;
}

.info {
  margin-top: 16px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 17px;
  color: #FFFFFF;
}


.footer-img { 
  height: 700px;
  position: absolute;
  top: 50px;
  right: 160px;
}

.footer-img img {
  height: 100%;
}



