.gallery {
  margin-top: 25px;
  // height: 100vh;
}
// .fotorama-wrapper {
//   max-width: 3500px;
//   width: 100%;
// }

.fotorama {
  width: 100%;
  display: flex;
  // justify-content: center;
  margin-left: 430px;
  margin-top: 30px;
}

// .fotorama .fotorama__loaded--img {}

.fotorama .fotorama__stage__frame {
  //  margin-left: 30px;
}

.fotorama .fotorama__stage__frame
// .fotorama .fotorama__loaded
// .fotorama .fotorama__loaded--img 
{
  left: -20px;
}

.fotorama .fotorama-img {
  left: 10%;
}

.fotorama .fotorama__nav.fotorama__shadows--right:after,
.fotorama .fotorama__stage.fotorama__shadows--right:after {
  display: none;
}

.fotorama .fotorama__nav:after,
.fotorama .fotorama__stage:after {
  display: none;
}

// .fotorama__img {
//   width: 150px;
//   height: 150px;
// }

.fotorama .fotorama__stage {
  overflow: visible;
}

.fotorama .fotorama__arr,
.fotorama .fotorama__fullscreen-icon,
.fotorama .fotorama__nav,
.fotorama .fotorama__nav__frame,
.fotorama .fotorama__nav__shaft
// .fotorama__stage__frame,
// .fotorama__stage__shaft,
// .fotorama__video-close,
// .fotorama__video-play 
{
  overflow: visible;
 
}

// .fotorama .fotorama__stage__frame{
//   opacity: 0.3;
// }
.fotorama .fotorama__arr--prev {
  
  background: url(../img/prev.png) no-repeat;
  opacity: 0.3;
  
}

.fotorama .fotorama__arr--next {

  background: url(../img/next.png) no-repeat;
  opacity: 0.3;
  right: -138px;

}

.fotorama .fotorama__arr--prev:hover,
.fotorama .fotorama__arr--next:hover {
  opacity: 1;
}




.fotorama .fotorama__thumb-border {
  border-color: #F15A29;
}

