.panorama-main {
  display: none;

  width: 100%;
  height: 100%;
  background-image: url(../img/pano4.jpg);
  background-size: 100% 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  overflow-x: visible;
}

.panorama-gyms {
  display: none;

  width: 100%;
  height: 100%;
  background-image: url(../img/pano5.jpg);
  background-size: 100% 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  overflow-x: visible;
}

// .panorama1 {
//   width: 100%;
//   height: 100%;
//   background-image: url(../img/pano1.jpg);
//   background-size: 100% 100%;
// }
// .panorama2 {
//   width: 100%;
//   height: 100%;
//   background-image: url(../img/pano2.jpg);
//   background-size: 100% 100%;
// }
// .panorama3 {
//   width: 100%;
//   height: 100%;
//   background-image: url(../img/pano3.jpg);
//   background-size: 100% 100%;
// }



// .panorama img {
//   width: 100%;
//   height: 100%;
// }

// .panorama1 {
//   width: 100%;
//   height: 100%;
//   background-image: url(../img/pano1.jpg);
//   background-size: 100% 100%;
// }

// .panorama2 {
//   width: 100%;
//   height: 100%;
//   background-image: url(../img/pano2.jpg);
//   background-size: 100% 100%;
// }

// .panorama2 {
//   width: 100%;
//   height: 100%;
//   background-image: url(../img/pano3.jpg);
//   background-size: 100% 100%;
// }


// .panorama-img {
//   width: 100%;
//   height: 100%;
// }

.panorama-close {
  position: absolute;
  right: 30px;
  top: 0px;
  cursor: pointer;
  font-size: 35px;
  color:black;
  font-weight: 300;
}