.main {
  background: #F15A29;
  min-height: 100vh; }

header {
  position: relative; }

.logo {
  max-width: 44px;
  cursor: pointer;
  padding-top: 15px;
  margin-left: 8px; }

.main-nav {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  margin-left: 8px;
  z-index: 1; }

.main-nav__ul {
  width: 93%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: 8px;
  left: 0;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff; }

.main-nav__li {
  font-family: DINPro;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 3.44143px;
  text-transform: uppercase;
  margin-left: 52px; }

.righted {
  margin-left: auto; }

.main-nav__li::after {
  content: '';
  display: block;
  width: 0%;
  height: 1px;
  background-color: #ffffff;
  margin-top: 4px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s; }

.main-nav__li:hover:after {
  width: 100%; }

.main-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 216px;
  padding-top: 250px; }

.main-title {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 50px;
  color: #ffffff; }

.main-name {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 50px;
  letter-spacing: 10.8333px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 24px; }

.main-content__left {
  position: relative; }

.main-content__right {
  position: absolute;
  top: 50px;
  right: 170px; }
  .main-content__right img {
    max-width: 480px;
    width: 100%; }

.join {
  width: 239px;
  color: #FFFFFF;
  border: 1px solid rgba(255, 255, 255, 0.3); }

.join:hover {
  background: rgba(255, 255, 255, 0.1); }

.slider-dots {
  margin: auto 41px;
  position: fixed;
  top: 300px;
  right: 0px; }

.dot {
  cursor: pointer;
  margin-top: 15px;
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.4;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-transition: background-color 0.6s ease;
  -o-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease; }

.dot-active {
  background-color: #ffffff;
  opacity: 1; }
