.services-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: 123px;
  margin-top: 60px; }

.services-left {
  position: relative;
  width: 570px; }

.services-right {
  max-width: 867px;
  width: 100%; }

.main-items {
  margin-left: 167px; }

.groups-title__up {
  position: absolute;
  top: 59px;
  left: -64px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 50px;
  letter-spacing: 10.8333px;
  text-transform: uppercase;
  color: #FFE0D6;
  z-index: -1; }

.gym-title__down {
  position: absolute;
  top: 242px;
  left: -64px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 74px;
  letter-spacing: 10.8333px;
  text-transform: uppercase;
  color: #FFE0D6;
  z-index: -1; }

.gym-nav {
  width: 100%;
  margin-top: 114px; }

.groups-ul a, .gym-ul a {
  display: block;
  font-family: DINPro;
  font-size: 14px;
  line-height: 39px;
  letter-spacing: 3.675px;
  color: #000000;
  text-transform: uppercase; }

.services-li:hover a {
  font-family: DINProBlack;
  padding-left: 53px;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s; }

.item-title {
  font-family: DINPro;
  font-size: 28px;
  line-height: 48px;
  letter-spacing: 7.35px;
  text-transform: uppercase;
  color: #000000; }

.item-subtitle {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  color: #000000; }

.item:not(:first-child) {
  margin-top: 65px; }

.join-white,
.excursion {
  margin-top: 68px;
  border: 1px solid #F15A29;
  color: #000000; }

.join-white:hover,
.excursion:hover {
  background: rgba(241, 90, 41, 0.2); }

.excursion {
  margin-left: 7px; }

.a-item__wrapper {
  display: none;
  position: relative;
  bottom: 741px; }

.a-item {
  position: absolute;
  max-width: 867px;
  width: 100%;
  padding-left: 54px;
  padding-bottom: 186px;
  background: url(../img/slide6.png);
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%;
  z-index: 0; }

.a-item::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, right top, left top, color-stop(1.75%, rgba(0, 0, 0, 0.2)), color-stop(97.66%, rgba(241, 90, 41, 0.8)));
  background: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.2) 1.75%, rgba(241, 90, 41, 0.8) 97.66%);
  background: -o-linear-gradient(right, rgba(0, 0, 0, 0.2) 1.75%, rgba(241, 90, 41, 0.8) 97.66%);
  background: linear-gradient(270deg, rgba(0, 0, 0, 0.2) 1.75%, rgba(241, 90, 41, 0.8) 97.66%);
  opacity: 1.9;
  z-index: -1; }

.a-item__title {
  margin-top: 30px;
  font-family: DINPro;
  font-size: 28px;
  line-height: 35px;
  letter-spacing: 7.35px;
  text-transform: uppercase;
  color: #FFFFFF; }

.a-item__description {
  max-width: 584px;
  width: 100%;
  margin-top: 20px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 31px;
  color: #FFFFFF; }

.a-team__arrow {
  cursor: pointer;
  margin-top: 110px;
  opacity: 0.6; }

.a-team__arrow:hover {
  opacity: 1; }

.slideLeft {
  animation-name: slideLeft;
  -webkit-animation-name: slideLeft;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  visibility: visible !important; }

@keyframes slideLeft {
  0% {
    -webkit-transform: translateX(150%);
            transform: translateX(150%); }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%); } }

@-webkit-keyframes slideLeft {
  0% {
    -webkit-transform: translateX(150%); }
  100% {
    -webkit-transform: translateX(0%); } }
