#section2 {
  position: relative; }

.services-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: 123px;
  margin-top: 60px; }

.services-left {
  position: relative;
  width: 570px; }

.services-right {
  max-width: 867px;
  width: 100%; }

.main-items {
  margin-left: 167px; }

.groups-title__up {
  position: absolute;
  top: 59px;
  left: -64px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 50px;
  letter-spacing: 10.8333px;
  text-transform: uppercase;
  color: #FFE0D6;
  z-index: -1; }

.gym-title__down {
  position: absolute;
  top: 242px;
  left: -64px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 74px;
  letter-spacing: 10.8333px;
  text-transform: uppercase;
  color: #FFE0D6;
  z-index: -1; }

.gym-nav {
  width: 100%;
  margin-top: 114px; }

.groups-ul a, .gym-ul a {
  display: block;
  font-family: DINPro;
  font-size: 14px;
  line-height: 39px;
  letter-spacing: 3.675px;
  color: #000000;
  text-transform: uppercase; }

.services-li:hover a {
  font-family: DINProBlack;
  padding-left: 53px;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s; }

.item-title {
  font-family: DINPro;
  font-size: 28px;
  line-height: 48px;
  letter-spacing: 7.35px;
  text-transform: uppercase;
  color: #000000; }

.item-subtitle {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  color: #000000; }

.item:not(:first-child) {
  margin-top: 65px; }

.join-white,
.excursion {
  margin-top: 68px;
  border: 1px solid #F15A29;
  color: #000000; }

.join-white:hover,
.excursion:hover {
  background: rgba(241, 90, 41, 0.2); }

.excursion {
  margin-left: 7px; }

.a-item__wrapper {
  position: fixed;
  width: 60%;
  height: 100%;
  display: block;
  top: 0;
  right: 0;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  z-index: 1; }

.a-item {
  position: relative;
  height: 100%;
  padding-left: 54px;
  background: -webkit-gradient(linear, right top, left top, color-stop(1.75%, black), color-stop(97.66%, #f15a29));
  background: -webkit-linear-gradient(right, black 1.75%, #f15a29 97.66%);
  background: -o-linear-gradient(right, black 1.75%, #f15a29 97.66%);
  background: linear-gradient(270deg, black 1.75%, #f15a29 97.66%);
  padding-top: 70px;
  z-index: 1; }

.a-item::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1; }

.a-item__title {
  margin-top: 30px;
  font-family: DINPro;
  font-size: 28px;
  line-height: 35px;
  letter-spacing: 7.35px;
  text-transform: uppercase;
  color: #FFFFFF; }

.a-item__description {
  max-width: 584px;
  width: 100%;
  min-height: 300px;
  margin-top: 20px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 31px;
  color: #FFFFFF; }

.join-items {
  color: #ffffff;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-border-radius: 3px;
          border-radius: 3px; }

.a-team__arrow {
  cursor: pointer;
  opacity: 0.6; }

.a-team__arrow:hover {
  opacity: 1; }

.slideLeft {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%); }

@media (max-width: 1024px) {
  .join-services {
    margin-top: 28px; }
  .excursion {
    margin-left: 0; }
  .excursion-services {
    margin-top: 28px; } }

@media (max-width: 767px) {
  .main-items {
    margin-left: 38px; }
  .a-item__wrapper {
    width: 100%; } }

@media (max-width: 576px) {
  .services-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 17px; }
  .services-left {
    width: 100%; }
  .services-right {
    margin-top: 63px; }
  .groups-title__up {
    left: 13px;
    font-size: 40px; }
  .gym-title__down {
    left: 13px;
    font-size: 40px; }
  .item-title {
    font-size: 22px;
    line-height: 30px; }
  .join-items {
    margin-top: 0; }
  .excursion {
    margin-top: 25px; } }

@media (max-width: 424px) {
  .groups-title__up {
    left: -13px;
    font-size: 30px; }
  .gym-title__down {
    left: -13px;
    font-size: 30px; } }
